In [ ]:
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list
2. Add 'black panther' at the end of this list
3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'
4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.
5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [ ]:
length = len(heros)
print(length)

5

In [ ]:
heros.append("black panther")
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [ ]:
heros.insert(3,"Wonder Women")
print(heros)

['spider man', 'thor', 'hulk', 'Wonder Women', 'iron man', 'captain america', 'black panther']

In [ ]:
heros.remove('black panther')
heros.insert(3, "black panther")
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'Wonder Women', 'iron man', 'captain america']

In [ ]:
heros.remove("thor")

In [ ]:
heros.remove("hulk")

In [ ]:
heros.insert(1, "doctor strange")
print (heros)

['spider man', 'doctor strange', 'black panther', 'Wonder Women', 'iron man', 'captain america']

In [ ]:
heros.sort()
print(heros)

['Wonder Women', 'black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function\

In [ ]:
max_number = int(input('Enter a number between 1 to 99: '))
odd_number = [num for num in range(1, max_number+1) if num % 2 != 0]
print(odd_number)

Enter a number between 1 to 99: 87
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87]

In [ ]:
# Step 1: Take the maximum number as input from the user
max_number = int(input("Enter the maximum number: "))

# Step 2: Create a list of all odd numbers between 1 and the max number
odd_numbers = [num for num in range(1, max_number + 1) if num % 2 != 0]

# Step 3: Print the list of odd numbers
print("List of odd numbers:", odd_numbers)

Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [ ]:
exp = {
    "january": 2200,
    "february": 2350,
    "march": 2600,
    "april": 2130,
    "may": 2190
    }

In [ ]:
exp_jan = exp["january"]
exp_feb = exp["february"]
extra_exp = exp_feb - exp_jan
print(f"extra_exp: {extra_exp}")

extra_exp: 150

In [ ]:
exp = [2200,2350,2600,2130,2190]
print("expenses for first quaerter: ", exp[0]+exp[1]+exp[2])

expenses for first quaerter:  7150

In [ ]:
print("Did I spent 2000$ in any month:", 2000 in exp)

Did I spent 2000$ in any month: False

In [ ]:
exp.append(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980, 1980]

In [ ]:
exp.remove(1980)
print(exp)

[2200, 2350, 2600, 2130, 2190, 1980]