In [ ]:
#

In [ ]:
num_set = set([1,5,6,7,1,2,3,4,7,8,5,2,1,7,5,9])

In [ ]:
num_set

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# tuples assignment

In [ ]:
##Assignment 1: Creating and Accessing Tuples\n",
##   "Create a tuple with the first 10 positive integers. Print the tuple.

In [ ]:
num = (1,2,3,4,5,6,7,8,9,10)
print(num)
print(type(num))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [ ]:
num = tuple(range(1,11))
print(num)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
### Assignment 2: Accessing Tuple Elements\n",
### "Print the first, middle, and last elements of the tuple created in Assignment 1.

In [ ]:
print(f"first element: {num[0]}")
middle_element= [len(num) // 2]
print(f"middle element: {middle_element}")
print(f"last element: {num[-1]}")

first element: 1
middle element: [5]
last element: 10

In [ ]:
## Assignment 3: Tuple Slicing\n",
## Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [ ]:
print(F"first three items: {num[0:3]}")
## print(F"last three items: {num[7:11]}")
print(F"last three items: {num[-3:]}")
print(F"from index 2 to 5 items: {num[2:6]}")

first three items: (1, 2, 3)
last three items: (8, 9, 10)
last three items: (8, 9, 10)
from index 2 to 5 items: (3, 4, 5, 6)

In [ ]:
### Assignment 4: Nested Tuples\n",
## "Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
nested_tup = (
    tuple(range(1,4)),
    tuple(range(4,7)),
    tuple(range(7,10))
)
print(nested_tup)
print(nested_tup[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [ ]:
nested_tup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(nested_tup)
print(nested_tup[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

In [ ]:
## Assignment 5: Tuple Concatenation\n",
## "Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple

In [ ]:
tup_1 = (1,2,3)
tup_2 = (4,5,6)
conc_tup = tup_1 + tup_2
print(conc_tup)

(1, 2, 3, 4, 5, 6)

In [ ]:
## Assignment 6: Tuple Methods\n",
## "Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
# Create a tuple with duplicate elements
tup = (1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5)

# Print the type of 'tup'
print(type(tup))

# Iterate through the tuple and print the count and first occurrence for each unique element
for i in set(tup):  # Using set to avoid repeating the same element
    count = tup.count(i)  # Count the occurrences of the element
    first_index = tup.index(i)  # Find the index of the first occurrence
    print(f"Occurrence/frequency of {i}: {count}, First occurrence at index: {first_index}")

<class 'tuple'>
Occurrence/frequency of 1: 1, First occurrence at index: 0
Occurrence/frequency of 2: 2, First occurrence at index: 1
Occurrence/frequency of 3: 3, First occurrence at index: 3
Occurrence/frequency of 4: 4, First occurrence at index: 6
Occurrence/frequency of 5: 5, First occurrence at index: 10

In [ ]:
print(f"number of repetetion of 3 is : {tup.count(3)}")
print(f"first occurance of number 3 is : {tup.index(3)}")

number of repetetion of 3 is : 3
first occurance of number 3 is : 3

In [ ]:
for i in set(tup):
  count = tup.count(i)
  index = tup.index(i)
  print(f"number of repetetion of {i} is : {count}")
  print(f"first occurance of number {i} is : {index}")

number of repetetion of 1 is : 1
first occurance of number 1 is : 0
number of repetetion of 2 is : 2
first occurance of number 2 is : 1
number of repetetion of 3 is : 3
first occurance of number 3 is : 3
number of repetetion of 4 is : 4
first occurance of number 4 is : 6
number of repetetion of 5 is : 5
first occurance of number 5 is : 10

In [ ]:
## Assignment 7: Unpacking Tuples\n",
## "Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
packing = "cock","suck","dick","lund"
print(packing)

a,b,c,d =packing
print(a)
print(b)
print(c)
print(d)

('cock', 'suck', 'dick', 'lund')
cock
suck
dick
lund

In [ ]:
## Assignment 8: Tuple Conversion\n",
##"Convert a list of the first 5 positive integers to a tuple. Print the tup

In [ ]:
import numpy as np
import random

lst = np.random.randint(1,500,5)
print(lst)

tup = tuple(lst)
print(tup)

[189 265 362 391 443]
(189, 265, 362, 391, 443)

In [ ]:
## Assignment 9: Tuple of Tuples\n",
##  "Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [ ]:
# Assignment 10: Tuple and List\n",
##  "Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple

In [ ]:
tup = tuple(range(1,6))
print(tup)

#  Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple
lst = list(tup)
lst.append(6)
print(lst)

tup= tuple(lst)
print(tup)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [ ]:
## Assignment 11: Tuple and String\n",
##  Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
tup =  ("rk", "bosh" , "md", "mf")

str = "".join(tup)
print(str)

rkboshmdmf

In [ ]:
### Assignment 12: Tuple and Dictionary\n",
## "Create a dictionary with tuple keys and integer values. Print the dictionary

In [ ]:
dict = {
    ("a"):1,
    ("b"):2
}
print(dict)

{'a': 1, 'b': 2}

In [ ]:
## Assignment 13: Nested Tuple Iteration\n",
## "Create a nested tuple and iterate over the elements, printing each element

In [ ]:
tup = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tup)
for i in tup:
  for j in i:
    print(j)

((1, 2, 3), (4, 5, 6), (7, 8, 9))
1
2
3
4
5
6
7
8
9

In [ ]:
## Assignment 14: Tuple and Set\n",
## "Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set

In [ ]:
tup = (1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5)
print(tup)

tup_to_set = set(tup)
print(tup_to_set)

(1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5)
{1, 2, 3, 4, 5}

In [ ]:
## Assignment 15: Tuple Functions\n",
##"Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
sample_tup = (10,20,30)
def min_in_tup(tup):
  return min(tup)
print(min_in_tup(sample_tup))

def max_in_tup(tup):
  return max(tup)
print(max_in_tup(sample_tup))


def sum_of_tup(tup):
  return sum(tup)
print(sum_of_tup(sample_tup))

10
30
60

# ***`sets`***

In [ ]:
## Assignment 1: Creating and Accessing Sets\n",

## Create a set with the first 10 positive integers. Print the set.

In [ ]:
num = set(range(1,11))
print(num)
print(type(num))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

In [ ]:
### Assignment 2: Adding and Removing Elements\n",
## "Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set."

In [ ]:
num.add(11)
num.remove(1)
print(num)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
### Assignment 3: Set Operations\n",
## Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union,
##intersection, difference, and symmetric difference operations on these sets."

In [ ]:
st1 = set(range(1,6))
st2 = set(range(2,11,2))

print(st1)
print(st2)

print(f"union: {st1.union(st2)}")
print(f"intersection: {st1.intersection(st2)}")
print(f"difference: {st1.difference(st2)}")
print(f"symmetric_difference: {st1.symmetric_difference(st2)}")

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}
union: {1, 2, 3, 4, 5, 6, 8, 10}
intersection: {2, 4}
difference: {1, 3, 5}
symmetric_difference: {1, 3, 5, 6, 8, 10}

In [ ]:
## Assignment 4: Set Comprehensions\n",
## "Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set."

In [ ]:
sqr = set(x**2 for x in range (1,11))
print(sqr)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
### Assignment 5: Filtering Sets\n",
##  "Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set."

In [ ]:
num = set(range(1,11))
even_num = set(x for x in num if x%2==0)
print(even_num)

{2, 4, 6, 8, 10}

In [ ]:
## Assignment 6: Set Methods\n",
## "Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set

In [ ]:
st = {1,2,2,3,3,5,5,6,7,8,9,4,8,2,9,2,8,3,8,4,1,6,8,3,8}
st = set(st)
print(st)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
## Assignment 7: Subsets and Supersets\n",

  # "Create two sets: one with the first 5 positive integers and another with the first 3 positive integers.
  #Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the result

In [ ]:
st1 = set(range(1,6))
st2 = set (range(1,4))
print(st1)
print(st2)

print(st2.issubset(st1))
print(st1.issuperset(st2))

{1, 2, 3, 4, 5}
{1, 2, 3}
True
True

In [ ]:
## Assignment 8: Frozenset\n",
## "Create a frozenset with the first 5 positive integers. Print the frozenset

In [ ]:
fs = frozenset(range(1,6))
print(fs)
print(type(fs))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [ ]:
## Assignment 9: Set and List Conversion\n",
##    "Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set."

In [ ]:
st = {1,2,3,4,5}
print(type(st))
print(st)

lst =list(st)
print(lst)

lst.append(6)
print(lst)

st= set(lst)
print(st)

<class 'set'>
{1, 2, 3, 4, 5}
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
{1, 2, 3, 4, 5, 6}

In [ ]:
## Assignment 10: Set and Dictionary\n",
## "Create a dictionary with set keys and integer values. Print the dictionary.

In [ ]:
dict = {
    frozenset({1,2,3}):"x",
    frozenset({4,5,6}):"y"
}
print(dict)

{frozenset({1, 2, 3}): 'x', frozenset({4, 5, 6}): 'y'}

In [ ]:
## Assignment 11: Iterating Over Sets\n",
## "Create a set and iterate over the elements, printing each element.

In [ ]:
st = set(range(1,11))
for i in st:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
## Assignment 12: Removing Elements from Sets\n",
##"Create a set and remove elements from it until it is empty. Print the set after each removal

In [ ]:
while st:
  removed_element = st.pop()
  print(f"removed element: {removed_element}, set after removed element: {st}")

removed element: 1, set after removed element: {2, 3, 4, 5, 6, 7, 8, 9, 10}
removed element: 2, set after removed element: {3, 4, 5, 6, 7, 8, 9, 10}
removed element: 3, set after removed element: {4, 5, 6, 7, 8, 9, 10}
removed element: 4, set after removed element: {5, 6, 7, 8, 9, 10}
removed element: 5, set after removed element: {6, 7, 8, 9, 10}
removed element: 6, set after removed element: {7, 8, 9, 10}
removed element: 7, set after removed element: {8, 9, 10}
removed element: 8, set after removed element: {9, 10}
removed element: 9, set after removed element: {10}
removed element: 10, set after removed element: set()

In [ ]:
## Assignment 13: Set Symmetric Difference Update\n",
##    "Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set."

In [ ]:
st1 = set(range(1,11))
st2 =set(range(1,11,2))
print(st1)
print(st2)

st1.symmetric_difference_update(st2)
print(st1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 3, 5, 7, 9}
{2, 4, 6, 8, 10}

In [ ]:
## Assignment 14: Set Membership Testing\n",
## "Create a set and test if certain elements are present in the set. Print the results."

In [ ]:
num =  {1,2,3,5,6,4,7,8,9}
print(3 in num)
print(99 in num)

True
False

In [ ]:
## Assignment 15: Set of Tuples\n",
## "Create a set containing tuples, where each tuple contains two elements. Print the set."

In [ ]:
st = {(1,2),(2,3),(3,4)}
print(st)

{(2, 3), (1, 2), (3, 4)}

# ***Dictionaries***

In [ ]:
# Assignment 1: Creating and Accessing Dictionaries\n",
##  "Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary

In [ ]:
dict =  { x: x**2 for x in range(11)}
print(dict)
print(type(dict))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
<class 'dict'>

In [ ]:
## Assignment 2: Accessing Dictionary Elements\n",
## "Print the value of the key 5 and the keys of the dictionary created in Assignment 1

In [ ]:
print(dict[5])

25

In [ ]:
## Assignment 3: Dictionary Methods\n",

## "Add a new key-value pair (11, 121) to the dictionary created in Assignment 1 and then remove the key-value pair with key 1. Print the modified dictionary

In [ ]:
dict[11] = 121
dict.pop(1)
print(dict)

{0: 0, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [ ]:
## Assignment 4: Iterating Over Dictionaries\n",
##  "Iterate over the dictionary created in Assignment 1 and print each key-value pair.\n",

In [ ]:
for items in dict.items():
  print(items)

(0, 0)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)
(8, 64)
(9, 81)
(10, 100)
(11, 121)

In [ ]:
for key, value in dict.items():
  print(f" {key} :  {value}")

 0 :  0
 2 :  4
 3 :  9
 4 :  16
 5 :  25
 6 :  36
 7 :  49
 8 :  64
 9 :  81
 10 :  100
 11 :  121

In [ ]:
## Assignment 5: Dictionary Comprehensions\n",
## "Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.\n",

In [ ]:
cube = {x:x**3 for x in range (11)}
print(cube)

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [ ]:
## Assignment 6: Merging Dictionaries\n",
##    "Create two dictionaries: one with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.\n",

In [ ]:
dict1 = {x:x**2 for x in range(1,6)}
dict2 = {x:x**2 for x in range(6,11)}

print(dict1)
print(dict2)

merged_dict = {**dict1,**dict2}
print(merged_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
## Assignment 7: Nested Dictionaries\n",
# "Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is
 #   another dictionary with keys 'math', 'science', and 'english'. Print the nested dictionary.\n",

In [ ]:
std = {
    "name": "rk",
    "age": 27,
    "grades":{
        "math":90,
        "science":91,
        "english":92
    }
}
print(std)

{'name': 'rk', 'age': 27, 'grades': {'math': 90, 'science': 91, 'english': 92}}

In [ ]:
# Assignment 8: Dictionary of Lists\n",
##  "Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiples of the key.
#Print the dictionary.

In [ ]:
dict = { x :[x*i for i in range(1,6)] for x in range(1,6)}
print(dict)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [ ]:
# Assignment 9: Dictionary of Tuples\n",
# "Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary

In [ ]:
dict = {x:(x,x**2) for x in range(5)}
print(dict)

{0: (0, 0), 1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16)}

In [ ]:
# Assignment 10: Dictionary and List Conversion\n",
#"Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it

In [ ]:
dict = {x: x**2 for x in range(1,6)}
print(dict)

lst = list(dict.items())
print(lst)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# Assignment 11: Dictionary Filtering\n",
    #"Create a dictionary with the first 10 positive integers as keys and their squares as values.
    #Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [ ]:
dict = {x:x**2 for x in range (1,11)}
print(dict)
dict2 = {x:x**2 for x in range (1,11) if x%2==0}
print(dict2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
## Assignment 12: Dictionary Key and Value Transformation\n",

    #"Create a dictionary with the first 5 positive integers as keys and their squares as values.
    #Create a new dictionary with keys and values swapped. Print the new dictionary.\n",

In [ ]:
dict1 = {x:x**2 for x in range(1,6)}
print(dict1)
dict2 = {values:keys for keys,values in dict1.items()}
# dict2 = {x**2:x for x in range (1,6)}
print(dict2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [ ]:
## Assignment 13: Default Dictionary\n",
# "Create a default dictionary where each key has a default value of an empty list. Add some elements to the lists and print the dictionary.

In [ ]:
from collections import defaultdict

default_dict = defaultdict(list)
default_dict[1].append(1)
default_dict[2].append(2)
default_dict[3].append(3)
print(default_dict)

defaultdict(<class 'list'>, {1: [1], 2: [2], 3: [3]})

In [ ]:
# Assignment 14: Counting with Dictionaries\n",
# "Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [ ]:
def count_char(str):
  count_dict = {}
  for char in str:
    count_dict[char] = count_dict.get(char, 1) +1
  return count_dict
str = "manigandan chutiya he bsdk"
print(count_char(str))

{'m': 2, 'a': 5, 'n': 4, 'i': 3, 'g': 2, 'd': 3, ' ': 4, 'c': 2, 'h': 3, 'u': 2, 't': 2, 'y': 2, 'e': 2, 'b': 2, 's': 2, 'k': 2}

In [ ]:
# Assignment 15: Dictionary and JSON\n",
## "Create a dictionary representing a book with keys 'title', 'author', 'year', and 'genre'. Convert the dictionary to a JSON string and print it."

In [ ]:
import json

# Create a dictionary representing a book
book_dict = {
    "title": "The Great Gatsby",
    "author": "F. Scott Fitzgerald",
    "year": 1925,
    "genre": "Novel"
}

# Convert the dictionary to a JSON string
book_json = json.dumps(book_dict, indent=4)

# Print the JSON string
print(book_json)

{
    "title": "The Great Gatsby",
    "author": "F. Scott Fitzgerald",
    "year": 1925,
    "genre": "Novel"
}

In [ ]:
import os

In [ ]:
print(os.getcwd())

/content

In [ ]:
os.mkdir('test.py')